{% extends "index.html" %}
{% block head %}
	<link rel='stylesheet' href="{{ url_for('static', filename='bio_style.css')}}">
{% endblock %}
{% block content %}
	<div id="my_Bio">
		Hello, world! <br><br> My name is Jack Jacobson.  I am a computer science major at the University of Michigan, class of 2017.  I built this website to exhibit my interests in computer programming, interface design, artistic design and music production. Moreover, I am fascinated by the creative process and plan to use this website as an outlet for the realization of my creative ideas. <br><br>Contact Info: <br>jackstro@umich.edu
		<div id= "res_container">
			<a id="res_link_wrapper" href="{{url_for('render_resume')}}">
		  		<div id="res_link">Resume</div>
			</a>
		</div>
	</div>
	
{% endblock %}